@model Lab4_MusicStore.Models.Album
@{
    ViewBag.Title = "EditAlbum";
    Layout = "~/Views/Shares/_Layout.cshtml";
}

<h2>Edit Album</h2> <hr />
<form class="form-group" method="post">
    <label for="Genre_ID">Genre</label>
    <select class="form-control" name="genreN">
        <option value=@ViewBag.nameGenre>@ViewBag.nameGenre</option>
        @foreach (var item in ViewBag.listGenre)
        {
            <option value=@item>@item</option>
        }

    </select>
    <label for="Artist_ID">Artist</label>
    <select class="form-control" name="artistN">
        <option value=@ViewBag.nameArtist>@ViewBag.nameArtist</option>
        @foreach (var item in ViewBag.listArtist)
        {
            <option value=@item>@item</option>
        }
    </select>
    <label for="Title">Title</label>
    <input type="text" name="Title" class="form-control" value="@Model.Title" />
    <label for="Price">Price</label>
    <input type="number" name="Price" value="@Model.Price" class="form-control" /><br />
    <button type="submit" value="submitSave" name="submitSave" class="btn btn-primary btn-block" style="width:50%;float:left;">Save album</button><br />
    <button type="submit" value="submitCancel" name="submitCancel" class="btn btn-primary btn-block" style="width: 49%;margin-top: -1.7%;margin-left: 51%;">Cancel</button>

</form>

